:root {
  --theme-color: #b696db;
}

.Calculator {
  text-align: center;
}

.Calculator-header {
  background-color: var(--theme-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
